<mat-card *ngFor="let task of tasks">

  <mat-card-header>

    <mat-card-title>{{ task.title }}</mat-card-title>
    <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
    <mat-card-subtitle>{{ task.dueDate }}</mat-card-subtitle>

  </mat-card-header>


  <mat-card-actions>

    <button mat-fab color="primary" (click)="openEditDialog(task)">
      <mat-icon>edit</mat-icon>
    </button>
    <span></span>
    <button mat-fab color="primary" (click)="openDeleteDialog(task)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>

<!-- (click)="openDialog('300ms', '150ms')" -->